@{
    ViewBag.Title = "Potvrdi e-mail";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Hvala na Vašoj prijavi @Html.ActionLink("Klikni ovdje za prijavu", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
