@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Provjerite svoj e-mail da bi promijenili svoju lozinku
    </p>
</div>
	
