@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title </h2>


<address>
    Trg Ljudevita Gaja 7<br />
    Osijek, HR 31000<br />
    <abbr title="Phone">Tel:</abbr>
    031/233-443
</address>

<address>
    <strong>Podrška:</strong>   <a href="mailto:efos@efos.com">efos@efos.com</a><br />
    <strong>Referada:</strong> <a href="mailto:efos@efos.com">efos@efos.com</a>
</address>